<!DOCTYPE html>
<html>
  <head>
    <title>TheEventbriteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">

  </head>

  <body>
    <center>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "EventBrite", root_path, :class => "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, :class => "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Create Event", new_event_path, :class => "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
            <li>
              <%= link_to "Your Profile", user_path(current_user.id) %>
            </li>
          <% else %>
            <li>    
              <%= link_to "Log in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </center>
  </body>
</html>
